---

---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');


.site-header .menu-icon {
  display: none !important;
}
/* ===== Custom Footer ===== */
.custom-footer {
  background-color: #2f2f2f; 
  padding: 42px 16px 50px;
  margin-top: 60px;
}

.footer-inner {
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
}

/* Title */
.custom-footer h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: 600;
}

/* Description */
.custom-footer p {
  font-size: 14px;
  line-height: 1.6;
  color: #cfcfcf;
  margin-bottom: 24px;
}

/* Download Button */
.download-btn {
  display: inline-block;
  padding: 13px 26px;
  font-size: 14.5px;
  font-weight: 600;

  background: #00c853;
  color: #111;

  border-radius: 6px;
  text-decoration: none;

  transition: background 0.25s ease, transform 0.2s ease;
}

.download-btn:hover {
  background: #00e676;
  transform: translateY(-1px);
}


/* Header */
.tb-header {
  background: #f1f1f1;
  border-bottom: 1px solid #dcdcdc;
  height: 52px;
}

/* Inner */
.tb-header-inner {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo text */
.tb-logo-text {
  display: flex;
  gap: 6px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', Arial, sans-serif;
}

.tb-tools {
  color: #222;
}

.tb-browser {
  color: #2a6ebb;
  font-weight: 700;
}

/* Download Button */
.tb-download-btn {
  font-size: 13px;
  font-weight: 600;
  padding: 6px 12px;

  background: #2a6ebb;
  color: #fff;

  border-radius: 4px;
  text-decoration: none;
  white-space: nowrap;

  transition: background 0.2s ease;
}

.tb-download-btn:hover {
  background: #1f5290;
}
